.alinear-der {
    float: right;
}
.alinear-izq {
    float: left;
}

.txt-center {
    text-align: center;
}

.contenido-centrado {
    max-width: 80rem;
    margin: 0 auto;
}

.mostrar-desk {
    display: none;

    @include tablet {
        display: inline-block;
    }
}

.display-none {
    display: none !important;
}

.d-block {
    display: block;
}

.d-flex {
    display: flex;
    align-items: center;
}

.error {
    color: red;
}

.success {
    padding: 1rem 2rem;
    border-radius: 7px;
    background-color: $color3;
    color: $blanco;
    font-size: 1.8rem;
    span, p {
        margin: 0;
    }

    a{
        margin: 0 0 0 1rem; 
    }
    
}

.alert {
    padding: 0 .5rem;
    border-radius: 7px;
    color: $blanco;
    background-color: red;
}